---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Peer-Reviewed Journal Articles</h2><hr />
{% for post in site.publications reversed %}
  {% if post.status == "Under Review" or post.status == "In Progress" %}{% continue %}{% endif %}
  {% if post.category == "manuscripts" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Under Review</h2><hr />
{% for post in site.publications reversed %}
  {% if post.status == "Under Review" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Manuscripts in Preparation</h2><hr />
{% for post in site.publications reversed %}
  {% if post.status == "In Progress" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}



